<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Bibliotheque Universitaire</display-name>

    <listener>
        <listener-class>com.bibliotheque.dao.DatabaseInitializer</listener-class>
    </listener>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.bibliotheque.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.bibliotheque.controller.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LivreServlet</servlet-name>
        <servlet-class>com.bibliotheque.controller.LivreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LivreServlet</servlet-name>
        <url-pattern>/livres</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AbonneServlet</servlet-name>
        <servlet-class>com.bibliotheque.controller.AbonneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AbonneServlet</servlet-name>
        <url-pattern>/abonnes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmpruntServlet</servlet-name>
        <servlet-class>com.bibliotheque.controller.EmpruntServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpruntServlet</servlet-name>
        <url-pattern>/emprunts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PenaliteServlet</servlet-name>
        <servlet-class>com.bibliotheque.controller.PenaliteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PenaliteServlet</servlet-name>
        <url-pattern>/penalites</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.bibliotheque.controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/login.jsp</location>
    </error-page>
</web-app>
